# (cors) {
#   @{args.0} header Origin {args.0}
#   header @{args.0} Access-Control-Allow-Origin {args.0}
# }

# @websockets {
# 	header Connection *Upgrade*
# 	header Upgrade websocket
# }
{
  admin off
}

stopmetsyn.testyta.se {
  reverse_proxy 10.10.108.85
  log
}

stopmetsyn.com {
  respond "Welcome to the cool place!!!"
  log
}